				
<!DOCTYPE html>
<html>
<head>
	<title>title Account List</title>
	<h3>h3 Account List</h3>
	<a href="/account/add">Add</a>
	<table border='1'>
			<tr>
				<th>Id</th>
				<th>Username</th>
				<th>Full Name</th>
				<th>Action</th>
			</tr>
			{{#each accounts}}
				<tr>
					<td>#{{id}}</td>
					<td>{{username}}</td>
					<td>{{full_name}}</td>	
					<td> 
						<a href="/account/edit/{{id}}">Edit</a>
						<a href="/account/delete/{{id}}  onclick="return confirm('Are you sure?')">Delete</a>
					</td>	
			{{/each}}			
		</table>		
</head>
<body>

</body>
</html>